@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500&subset=cyrillic');

html {
  min-width: 1040px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background: #fcfcfa;
  color: #333;
  margin: 1em auto 4em auto;
  position: relative;
  width: 1000px;
}

header,
footer,
aside,
h1,
h2,
h3,
h4 {
  font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

text {
  fill: #888;
}

svg {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.element circle {
  stroke-width: 0.5px;
  stroke: #444;
  stroke-opacity: 1;
  fill-opacity: 0.6;
}

.element text {
  fill: #000;
  fill-opacity: 0.2;
  alignment-baseline: middle;
}

.element:hover circle {
  stroke-width: 1px;
  stroke: #000;
  fill-opacity: 0.8;
  cursor: pointer;
}

.element:hover text {
  fill: #000;
  fill-opacity: 0.5;
  cursor: pointer;
}

.grid {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.04;
  stroke-width: 0.5px;
}

.origin {
  stroke: #aaa;
  stroke-opacity: 0.4;
  stroke-dasharray: 4 2;
  stroke-width: 0.75px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 0.25px;
}

.axis text {
  font-size: 10px;
}

.slider-ticker text {
  font-size: 10px;
}

.selection circle,
.selection:hover circle {
  stroke: #000;
  stroke-width: 1.5px;
  fill-opacity: 1;
}

.selection text,
.selection:hover text {
  fill: #000;
  fill-opacity: 1;
}

.selection > line {
  fill: none;
  stroke: rgb(105, 105, 105);
}
